* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  font-size: 0.93rem;
  background: #070809;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.bg {
  display: none;
  background: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: static;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.bg * {
  position: relative;
  z-index: 1;
}

@media (max-width: 1000px) {
  .bg {
    display: block;
  }
}

body {
  color: snow;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
